@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Bebas Neue", sans-serif;
}

.container-page{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.fixed{
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 100%;
}

.fixed img{
    width: 5rem;
}

.fixed:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
}